<%- include("includes/head.ejs")%>
<link rel="stylesheet" href="/css/shop.css">
</head>

<body>

    <!-- Navbar -->
    <div class="navbar">
        <a href="/" class="active">Home</a>
        <a href="/admin/add-product">Add Product</a>
    </div>

    <% if (prods.length > 0) { %>
        <div class="main-content">
            <h2>My Product List</h2>

            <div class="products-container">
                <% prods.forEach(product => { %>
                    <div class="card">
                        <img src="https://cdn.pixabay.com/photo/2016/11/19/16/01/audio-1840073_1280.jpg"
                            alt="<%= product.name %>">
                        <h3><%= product.name %></h3>
                        <p class="price"><%= product.price %></p>
                        <p><%= product.description %></p>
                        <button>Add to Cart</button>
                    </div>
                <% }); %>
            </div>
        </div>
    <% } else { %>
        <h1>No Products available!</h1>
    <% } %>

</body>

</html>
